.search-space-box {
  display: flex;
  gap: calc(var(--spacing) * 10);
  /* width: 100%; */
}

.search-space-left-box {
  display: flex;
  gap: calc(var(--spacing) * 10);
  width: 50%;
}

.search-space-left-box-1 {
  display: flex;
  align-items: center;
  width: 50%;
    overflow: hidden;
}
.search-space-left-box-1 select {
  height: 100%;
  outline: none;
  flex-grow: 1;
}

.search-space-left-box-1 i {
  padding: calc(var(--spacing) * 10);
}

.search-space-left-box-2 {
  display: flex;
  align-items: center;
  width: 50%;
  overflow: hidden;

}

.search-space-left-box-2 select {
  height: 100%;

  outline: none;
    flex-grow: 1;
}
.search-space-left-box-2 i {
  padding: calc(var(--spacing) * 10);
}

.search-space-right-box {
  display: flex;
   width: 50%;
    gap: calc(var(--spacing) * 10);
}
.search-space-right-box-1 {
    display: flex;
    flex-grow: 1 ;
   
    
}
.search-space-right-box-1 input{
    height: 100%;
    flex-grow: 1;
}
.search-space-right-box-1 i{
      padding: calc(var(--spacing) * 10);
}


@media (max-width : 768px) {
    .search-space-box {
        flex-direction: column;
}
.search-space-left-box {
  width: 100%;
}
.search-space-right-box {
  width: 100%;
}
}

.search-space-right-box-dropdown{
    position: absolute;
    width: 100%;
    top: 105%;
    left: 0%;
    z-index: 100;
}
.search-space-right-box-dropdown li{
    border-bottom: 1px solid rgb(243, 243, 243);
}